{% comment %}
    LIQUIDVISUAL-HERO

    - updated: 26.02.17
    - notes:
        * Multiple items in carousel_slides.yml triggers carousel mode
        * .has-auto-height - caption will detemine height
        * .has-fixed-height - used for internal pages to set a height
{% endcomment %}

{% assign hero = page.hero %}

<div class="lv-hero-wrapper">

    <!-- HERO -->
    <div class="lv-hero">

        <!-- HERO ITEM -->
        <div class="lv-hero-item" style="background-image: url('{{ hero }}')">
            <div class="container">
                <div class="lv-hero-item-caption mt-auto">

                    <h1>Adelaide's Yamaha, KTM &amp; Kawasaki motorcycle specialists...</h1>

                    <div class="spacer mb-4"></div>

                    <!-- MEDIA TILES -->
                    <ul class="block-grid-xs-1 block-grid-md-2 block-grid-condensed">
                        <li>
                            <a class="media-tile" href="#" title="Yamaha">
                                <img width="100%" src="/assets/img/layout/media-tile-1a.jpg" alt="Yamaha">
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                        <li>
                            <a class="media-tile" href="#" title="KTM">
                                <img width="100%" src="/assets/img/layout/media-tile-2a.jpg" alt="KTM">
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                        <li>
                            <a class="media-tile" href="#" title="Kawasaki">
                                <img width="100%" src="/assets/img/layout/media-tile-3a.jpg" alt="Kawasaki">
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                        <li>
                            <a class="media-tile" href="#" title="Used Bikes">
                                <img width="100%" src="/assets/img/layout/media-tile-4a.jpg" alt="Used Bikes">
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div> <!-- /.lv-hero-item -->
    </div> <!-- /.lv-hero -->
</div> <!-- /.lv-hero-wrapper -->