{% comment %}
    LIQUIDVISUAL-HERO

    - updated: 26.02.17
    - notes:
        * Multiple items in carousel_slides.yml triggers carousel mode
        * .has-auto-height - caption will detemine height
        * .has-fixed-height - used for internal pages to set a height
{% endcomment %}

{% assign hero = page.hero %}

<div class="lv-hero-wrapper">

    <!-- HERO -->
    <div class="lv-hero">

        <!-- HERO ITEM -->
        <div class="lv-hero-item" style="background-image: url('{{ hero }}')">
            <div class="container">
                <div class="lv-hero-item-caption mt-auto">

                    <h1>Adelaide's Yamaha, KTM &amp; Kawasaki motorcycle specialists...</h1>

                    <div class="spacer mb-4"></div>

                    <!-- MEDIA TILES -->
                    <ul class="block-grid-xs-1 block-grid-md-2 block-grid-condensed">
                        <li>
                            <a class="btn-hero-tile" href="#" title="Yamaha">
                                <h2 class="mb-0">
                                    <img width="100%" src="/assets/img/content/hero-tile-1.jpg" alt="Yamaha">
                                    <span class="btn-hero-tile-bg" style="background-image: url(/assets/img/content/hero-tile-1.jpg)"></span>
                                    <img class="logo" src="/assets/img/content/logo-yamaha.png" alt="Yamaha">
                                    <i class="fa fa-angle-right"></i>
                                </h2>
                            </a>
                        </li>
                        <li>
                            <a class="btn-hero-tile" href="/ktm/" title="KTM">
                                <h2 class="mb-0">
                                    <img width="100%" src="/assets/img/content/hero-tile-2.jpg" alt="KTM">
                                    <span class="btn-hero-tile-bg" style="background-image: url(/assets/img/content/hero-tile-2.jpg)"></span>
                                    <img class="logo" src="/assets/img/content/logo-ktm.png" alt="KTM">
                                    <i class="fa fa-angle-right"></i>
                                </h2>
                            </a>
                        </li>
                        <li>
                            <a class="btn-hero-tile" href="/kawasaki/" title="Kawasaki">
                                <h2 class="mb-0">
                                    <img width="100%" src="/assets/img/content/hero-tile-3.jpg" alt="Kawasaki">
                                    <span class="btn-hero-tile-bg" style="background-image: url(/assets/img/content/hero-tile-3.jpg)"></span>
                                    <img class="logo" src="/assets/img/content/logo-kawasaki.png" alt="Kawasaki">
                                    <i class="fa fa-angle-right"></i>
                                </h2>
                            </a>
                        </li>
                        <li>
                            <a class="btn-hero-tile" href="/used-bikes/" title="Used Bikes">
                                <h2 class="mb-0">
                                    <img width="100%" src="/assets/img/content/hero-tile-4.jpg" alt="Used Bikes">
                                    <span class="btn-hero-tile-bg" style="background-image: url(/assets/img/content/hero-tile-4.jpg)"></span>
                                    <img class="logo" src="/assets/img/content/logo-used-bikes.png" alt="Used Bikes">
                                    <i class="fa fa-angle-right"></i>
                                </h2>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div> <!-- /.lv-hero-item -->
    </div> <!-- /.lv-hero -->
</div> <!-- /.lv-hero-wrapper -->