/*
    FOOTER.CSS

    - Last updated: 11.04.17
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// FOOTER
//-----------------------------------------------------------------

.global-footer {
	border-top: 2px solid #303030;
	background: black;

	color: white;

	a {
		color: white;
	}
}

//-----------------------------------------------------------------
// FOOTER TOP
//-----------------------------------------------------------------

.global-footer-top {
	padding: rem-calc(50 0 20 0);

	//=========================================
	// IMG
	//=========================================

	.logo img {
		@include media-breakpoint-down(sm) {
		    width: 200px;
		}
	}

	//=========================================
	// PANEL
	//=========================================

	.global-footer-panel {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		position: relative;
		padding: rem-calc(20 0);
		z-index: 1;

		@include media-breakpoint-up(md) {
		    padding: rem-calc(20 30);
		    background: #131415;
		}

		&::after {
			@include media-breakpoint-down(sm) {
			    content: "";
			    position: absolute;
			    top: 0;
			    left: -15px;
			    width: calc(100% + 15px * 2);
			    height: 100%;
			    background: #131415;
			    z-index: -1;
			}
		}

		h4 {
			text-transform: uppercase;
			font-weight: 600;

			i {
				font-size: rem-calc(25);
			}
		}

		a {
			color: #7c7d7d;
		}
	}
}

//-----------------------------------------------------------------
// FOOTER BOTTOM
//-----------------------------------------------------------------

.global-footer-bottom {
	padding-bottom: $spacer;
	text-transform: uppercase;
	font-size: 14px;

	@include media-breakpoint-up(xl) {
	    padding: $spacer 0;
	}

	a {
		opacity: 0.4;
		transition: opacity 300ms ease;
	}

	a:hover {
		opacity: 0.6;
	}
}

//=========================================
//
//=========================================