/*
    FOOTER.CSS

    - Last updated: 11.04.17
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// FOOTER
//-----------------------------------------------------------------

.global-footer {
	border-top: 2px solid #303030;
	background: black;

	color: white;

	a {
		color: white;
	}
}

//-----------------------------------------------------------------
// FOOTER TOP
//-----------------------------------------------------------------

.global-footer-top {
	padding: rem-calc(50 0 20 0);

	//=========================================
	// PANEL
	//=========================================

	.global-footer-panel {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		background: #131415;
		padding: rem-calc(20 30);

		h4 {
			text-transform: uppercase;
			font-weight: 600;

			i {
				font-size: rem-calc(25);
			}
		}

		a {
			color: #7c7d7d;
		}
	}
}

//-----------------------------------------------------------------
// FOOTER BOTTOM
//-----------------------------------------------------------------

.global-footer-bottom {
	text-transform: uppercase;
	font-size: 14px;

	a {
		opacity: 0.4;
		transition: opacity 300ms ease;
	}

	a:hover {
		opacity: 0.6;
	}
}

//=========================================
//
//=========================================