/*
    FOOTER.CSS

    - Last updated: 00.00.00
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// FOOTER
//-----------------------------------------------------------------

.global-footer {
	background: #000001;

	color: white;

	a {
		color: white;
	}
}

//-----------------------------------------------------------------
// FOOTER TOP
//-----------------------------------------------------------------

.global-footer-top {

	.global-footer-panel {
		background: #131415;
		padding: rem-calc(20);
	}
}

//-----------------------------------------------------------------
// FOOTER BOTTOM
//-----------------------------------------------------------------

.global-footer-bottom {
	text-transform: uppercase;
}

//=========================================
//
//=========================================