/*
    HEADER.CSS

    - Last updated: 25.02.17
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------

$header-sm-height: 60px !default; // optimal
$header-md-height: 110px !default;
$header-lg-height: 280px !default;

//-----------------------------------------------------------------
// HEADROOM
//-----------------------------------------------------------------

.headroom {
    will-change: transform;
    transition: transform 200ms linear, background-color 200ms ease;
}

.headroom--pinned {
    @include media-breakpoint-down(sm) {
        transform: translateY(0%);
    }
}
.headroom--unpinned {
	@include media-breakpoint-down(sm) {
    	transform: translateY(-100%);
	}
}

//**********************************************
// STYLING SCROLL HEADER
//**********************************************

.headroom--not-top {
	// position: fixed;

	.global-header-body {
		background: rgba(0,0,0,0.8);
	}
    .global-header-top {
    	height: 0;
    	padding: 0;
    	overflow: hidden; // explicit
    }
}

.headroom--top {
	.global-header-body {
		@include media-breakpoint-down(sm) {
		    background: black;
		}
	}
}

//-----------------------------------------------------------------
// HEADER GENERAL
//-----------------------------------------------------------------

.global-header {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 999;
}

//-----------------------------------------------------------------
// PAGE HEADER
//-----------------------------------------------------------------

.page-header {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: $spacer*1.5 0 $spacer 0;
    background: rgba(black, 0.63);
    color: white;

    h1, h2 {
        font-size: rem-calc(62);
        font-weight: 800;

        img {
            position: relative;
            top: 10px;
        }
    }
}

//-----------------------------------------------------------------
// HEADER TOP (BLACK)
//-----------------------------------------------------------------

.global-header-top {
	position: relative;
	padding: rem-calc(10 0);
	background: black;
	font-size: rem-calc(15);
	font-weight: 600;
	color: #B8B7B7;
	transition: all ease 150ms;

	@include media-breakpoint-up(md) {
	    padding: rem-calc(15 0);
	}

	a {
		color: #B8B7B7;
	}

	i {
		font-size: rem-calc(18);
		line-height: 0;
		color: white;
	}
}

//-----------------------------------------------------------------
// HEADER BODY (MENU)
//-----------------------------------------------------------------

.global-header-body {
	position: relative;
	background: url(/assets/img/content/hero-1.jpg);
	background-size: cover;
	background-position: 50% 0;

	@include media-breakpoint-down(sm) {
	    background: rgba(0,0,0,0.8); // priority override
	}

	> .container {
		display: flex;
		height: $header-sm-height;
		transition: height 100ms ease;
		align-items: center;

		@include media-breakpoint-up(md) {
		    height: $header-md-height;
		}

		@include media-breakpoint-up(xl) {
			height: $header-lg-height;
		}
	}
}

//-----------------------------------------------------------------
// LOGO
//-----------------------------------------------------------------

.global-header .logo {
	img {
		width: 170px;

		@include media-breakpoint-up(md) {
			width: 260px;
		}
	}
}

//-----------------------------------------------------------------
// HAMBURGER
//-----------------------------------------------------------------

.global-header-hamburger {
	margin: auto 0 auto auto;

	@include media-breakpoint-up(md) {
	    margin: auto 0 auto auto;
	}
}

//=========================================
//
//=========================================