/*
    BUTTONS.CSS

    - Last updated: 10.03.17
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// BTN LINK
//
// Simple anchor link with arrow icon. Seen top right of sections
//-----------------------------------------------------------------

.btn-link {
    color: white;

    &:hover {
        color: darken(white, 20%);
    }
}

//-----------------------------------------------------------------
// HERO TILE
// Used to display brands on homepage hero
//-----------------------------------------------------------------

.btn-hero-tile {
    display: block;
    position: relative;
    overflow: hidden;

    .btn-hero-tile-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-position: center center;
        background-size: cover;
        transition: transform 300ms ease;
    }

    .fa-angle-right {
        content: '\f105';
        position: absolute;
        bottom: 0;
        right: rem-calc(25);
        font-size: rem-calc(50);
        color: white;
        text-shadow: 0px 1px 4px rgba(black, 0.4);
        transition: transform 300ms ease;

        @include media-breakpoint-up(md) {
            font-size: rem-calc(70);
        }

        @include media-breakpoint-up(xl) {
            bottom: 10px;
        }
    }

    &:hover {
        .btn-hero-tile-bg {
            @include media-breakpoint-up(xl) {
                transform: scale(1.03);
            }
        }
    }
}

//-----------------------------------------------------------------
// BTN TILE (used on brand index hero)
//-----------------------------------------------------------------

.btn-hero {
    display: block;
    padding: rem-calc(15);
    margin: rem-calc(0 0 5 0);
    background: rgba(black, 0.77);
    font-weight: 600;
    color: white !important;
    transition: transform 300ms ease;
    box-shadow: 0 1px 3px 2px rgba(black, 0.2);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);

    @include media-breakpoint-down(sm) {
        font-size: rem-calc(28);
    }

    @include media-breakpoint-up(md) {
        padding: rem-calc(23 20 20 20);
    }

    i {
        line-height: 0;

        @include media-breakpoint-up(md) {
            font-size: rem-calc(46);
            position: relative;
            top: 5px;
        }
    }

    &:hover {
        @include media-breakpoint-up(xl) {
            transform: scale(0.98);
        }
    }
}

//=========================================
//
//=========================================