/*
    BUTTONS.CSS

    - Last updated: 10.03.17
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// BUTTONS
//-----------------------------------------------------------------

.btn-tile {
    display: block;
    height: rem-calc(86);
    padding: rem-calc(10);
    background: rgba(black, 0.77);
    font-weight: 800;
    color: white;

    h2 {
        font-weight: 700;
    }
}

//=========================================
//
//=========================================