/*
    HERO.CSS

    - updated: 26.03.17
    - notes:
        * liquidvisual recommends bxSlider for hero carousels
        * fixed overflow problem when removing JS
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------

$hero-sm-height:            auto          !default; // IMPORTANT: if carousel slides, you need a fixed height
$hero-md-height:            auto          !default;
$hero-lg-height:            rem-calc(834) !default;

$hero-sm-height-preset-1:      rem-calc(689) !default; // Appears on product landing
$hero-md-height-preset-1:      rem-calc(689) !default;
$hero-lg-height-preset-1:      rem-calc(689) !default;

$hero-sm-height-preset-2:      rem-calc(526) !default; // Appears on internal pages
$hero-md-height-preset-2:      rem-calc(526) !default;
$hero-lg-height-preset-2:      rem-calc(526) !default;

//-----------------------------------------------------------------
// HERO WRAPPER
//
// Used to align the controls relative to the container
//-----------------------------------------------------------------

.lv-hero-wrapper {
    position: relative;
}

//-----------------------------------------------------------------
// HERO
//
// By design, mobile defaults to 'auto'
//-----------------------------------------------------------------

.lv-hero {
    // width: 100%; // added last minute - breaking?
    height: $hero-sm-height;
    overflow: hidden; // causes problems without JS

    @include media-breakpoint-up(md) {
        height: $hero-md-height;
    }

    @include media-breakpoint-up(lg) {
       height: $hero-lg-height;
    }

    //=========================================
    // Has Auto Height
    //
    // * Will override above at all sizes
    // * Height determined by inner caption
    //=========================================

    &.has-auto-height {
        height: auto;
    }

    //=========================================
    // HAS HEIGHT PRESET 1
    //=========================================

    &.has-height-preset-1 {
        // height: rem-calc(150); //$hero-sm-height;

        @include media-breakpoint-up(md) { // added - refactor
           height: rem-calc(768);
        }

        @include media-breakpoint-up(xl) {
           height: $hero-lg-height-preset-1;
        }
    }

    //=========================================
    // HAS HEIGHT PRESET 2
    //=========================================

    &.has-height-preset-2 {
        // height: rem-calc(150); //$hero-sm-height;

        @include media-breakpoint-up(md) { // added - refactor
           height: rem-calc(768);
        }

        @include media-breakpoint-up(xl) {
           height: $hero-lg-height-preset-2;
        }
    }
}

//-----------------------------------------------------------------
// HERO ITEM (Slides)
//-----------------------------------------------------------------

.lv-hero-item {
    display: flex;
    height: 100%;
    background-repeat: no-repeat;
    // background-position: center center;
    background-position: top center;
    background-size: cover;
    // padding: $header-sm-height + 20 0;

    padding: $spacer*2 0;

    > .container {
        display: flex;
        flex-direction: column;

        @include media-breakpoint-down(xs) {
            width: 100%; // fixes glitch thing
        }
    }
}

//-----------------------------------------------------------------
// HERO CAPTION
//-----------------------------------------------------------------

.lv-hero-item-caption h1 {
    font-size: rem-calc(23);
    font-weight: 300;
}

//=========================================
// CAPTION TOP (USED ON INTERNAL PAGES)
//=========================================

.lv-hero-item-caption-top {
    @include media-breakpoint-down(sm) {
        margin-bottom: rem-calc(120);
    }

    h1 img {
        // width: rem-calc(210);

        @include media-breakpoint-up(md) {
            // width: rem-calc(340);
        }
    }
}

//-----------------------------------------------------------------
// PAGE HEADER
//-----------------------------------------------------------------

.page-header {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: $spacer*1.5 0 $spacer 0;
    background: rgba(black, 0.63);
    color: white;

    h1, h2 {
        font-size: rem-calc(62);
        font-weight: 800;

        img {
            position: relative;
            top: 10px;
        }
    }
}

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------
