/*
    LISTS.CSS

    - Last updated: 10.03.17
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// USED ON BLOCK GRIDS
//-----------------------------------------------------------------

.list-condensed {
    li {
        padding-bottom: 0;

        @include media-breakpoint-up(lg) {
            padding-top: rem-calc(5);
            padding-bottom: rem-calc(5);
        }
    }
}

.block-grid-condensed {
    margin: -7px;

    li {
        padding: 7px;
    }
}

//-----------------------------------------------------------------
// FLEX MASONRY
//-----------------------------------------------------------------

.list-masonry {
    margin: -3px;

    li {
        padding: 3px;
        transition: opacity 200ms ease;

        &:hover {
            @include media-breakpoint-up(xl) {
                opacity: 1 !important;
            }
        }
    }

    &:hover li {
        @include media-breakpoint-up(xl) {
            opacity: 0.6;
        }
    }
}

//=========================================
// PURE CSS WAY
//=========================================

// .list-masonry {
//     column-gap: 10px;

//     @include media-breakpoint-up(md) {
//         column-count: 2;
//     }

//     @include media-breakpoint-up(lg) {
//         column-count: 3;
//     }

//     img {
//         width: 100%;
//         margin-bottom: 10px;
//     }
// }



//=========================================
//
//=========================================