/*
    LISTS.CSS

    - Last updated: 10.03.17
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// USED ON BLOCK GRIDS
//-----------------------------------------------------------------

.list-condensed {
    li {
        padding-bottom: 0;

        @include media-breakpoint-up(lg) {
            padding-top: rem-calc(5);
            padding-bottom: rem-calc(5);
        }
    }
}

.block-grid-condensed {
    margin: -7px;

    li {
        padding: 7px;
    }
}
//=========================================
//
//=========================================