/*
    SECTIONS.CSS

    - Last updated: 04.04.17
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// SECTIONS
//-----------------------------------------------------------------

.section {
    padding: rem-calc(40 0);
}

.section-dark {
    background: #1d1c1c;
}

.section-inverse {
	color: white;

	h1, h2, h3, h4, h5, h6 {
		color: white;
	}

	.divider {
		width: 100%;
		height: 1px;
		border-bottom: 2px solid red;
	}
}

//=========================================
//
//=========================================