/*
    SECTIONS.CSS

    - Last updated: 04.04.17
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// SECTIONS
//-----------------------------------------------------------------

.section {
    padding: rem-calc(40 0);
}

.section-dark {
    background: #1d1c1c;

    .divider {
    	border-color: #3a3939;
    }
}

.section-light {
	background: white;
}

.section-inverse {
	color: white;

	h1, h2, h3, h4, h5, h6 {
		color: white;
	}
}

//=========================================
//
//=========================================