/*
    SIDEBAR.CSS

    - Last updated: 17.04.17
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//--------------------------------------------------------------------
// SIDEBAR
//--------------------------------------------------------------------

.side-box {
	background: #1e1d1d;

	//=========================================
	// HEADER
	//=========================================

	.side-box-header {
		position: relative;
		padding: rem-calc(20 0);
		background: #2c2c2c;
		z-index: 1;

		@include media-breakpoint-up(sm) {
		    padding: rem-calc(20 30 20 30);
		}

		.fa {
			font-size: rem-calc(35);
		}

		// Exception for /service/
		.fa-wrench {
			@include media-breakpoint-up(md) {
			    font-size: rem-calc(55);
			}

			@include media-breakpoint-up(lg) {
			    position: relative;
			    left: -10px;
			}
		}
	}

	//=========================================
	// BODY
	//=========================================

	.side-box-body {
		position: relative;
		padding: rem-calc(20 0);
		font-size: rem-calc(19);
		z-index: 1;

		@include media-breakpoint-up(sm) {
		    padding: rem-calc(30);
		}

		a {
			color: white;

			.fa {
				margin-bottom: 5px;
				width: 36px;
				min-width: 36px; // this is weird in flexbox
				height: 36px;
				line-height: 36px;
				font-size: 17px;
				text-align: center;
				background: #3f3f3f;
				border-radius: 100%;
			}

			&:hover {
				color: darken(white, 20%);
			}
		}
	}
}

//-----------------------------------------------------------------
// TRADING HOURS EXCEPTION
//-----------------------------------------------------------------

.is-trading-hours {
	padding: rem-calc(20 0);

	@include media-breakpoint-up(sm) {
	    padding: rem-calc(30 30 20 30);
	}

	// Exception
	.fa-clock-o {
		@include media-breakpoint-up(xl) {
			position: relative;
			top: 4px;
		    font-size: rem-calc(34);
		    line-height: 0;
		}
	}
}

//-----------------------------------------------------------------
// COLLAPSE BG
//-----------------------------------------------------------------

.side-box {
	.side-box-header:after,
	.side-box-body:after {
		@include media-breakpoint-down(xs) {
		    content: "";
		    position: absolute;
		    top: 0;
		    left: -15px;
		    width: calc(100% + 15px * 2);
		    height: 100%;
		    background: #2c2c2c;
		    z-index: -1;
		}
	}

	.side-box-body:after {
		@include media-breakpoint-down(xs) {
		    background: #1e1d1d;
		}
	}
}

//=========================================
//
//=========================================