/*
    TYPE.CSS

    - Last updated: 10.04.17
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//--------------------------------------------------------------------
// TYPE
//--------------------------------------------------------------------

html {
    @include media-breakpoint-up(xs) { font-size: rem-calc(14); }
    @include media-breakpoint-up(md) { font-size: rem-calc(14); }
    @include media-breakpoint-up(lg) { font-size: rem-calc(14); }
    @include media-breakpoint-up(xl) { font-size: rem-calc(16); }
}

//-----------------------------------------------------------------
// HEADERS
//-----------------------------------------------------------------

h1, h2, h3 {
    font-weight: 600;
}

h4, h5, h6 {
    font-weight: 800;
}

.text-extra-bold {
    font-weight: 800;
}

.text-bold {
    font-weight: 600;
}

//-----------------------------------------------------------------
// CONTENT
//-----------------------------------------------------------------

.page-content h1,
.page-content h2,
.page-content h3 {
    margin-bottom: $spacer*1.5;
    font-weight: 700;
}

//-----------------------------------------------------------------
// ANCHORS
//-----------------------------------------------------------------

a {
    transition: color ease 300ms, background-color ease 300ms;
}

//-----------------------------------------------------------------
// PARAGRAPHS
//-----------------------------------------------------------------

p, ul, ol, td {
    @include media-breakpoint-up(lg) {
        font-size: rem-calc(17); //$font-size-lg; //15
    }
}

//-----------------------------------------------------------------
// SPACER
//-----------------------------------------------------------------

.spacer {
    width: 1px;
    height: 1px;
}

//-----------------------------------------------------------------
// DIVIDER
//-----------------------------------------------------------------

.divider {
    height: 1px;
    padding-bottom: $spacer;
    margin-bottom: $spacer*1.5;
    border-bottom: 2px solid #212121;
}

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------
//=========================================
//
//=========================================