---
layout: base
---

{% assign settings = site.data.settings %}
{% assign featured = site.data.sitemap[3].children | where: "featured", true %}

{% include hero.html %}

<!-- FEATURED SPECIALS -->
<section class="section">
	<div class="container">
		<div class="row mb-2">
			<div class="col-md-6">
				<h2 class="h3 text-bold text-uppercase">Featured Specials</h2>
			</div>
			<div class="col-md-6 text-md-right">
				<small class="text-uppercase"><b>View all Specials for</b></small>&nbsp;
				<a href="#"><img width="90" src="/assets/img/content/logo-yamaha.png" alt="Yamaha"></a>&nbsp;
				<a href="#"><img width="90" src="/assets/img/content/logo-ktm.png" alt="KTM"></a>&nbsp;
				<a href="#"><img width="90" src="/assets/img/content/logo-kawasaki.png" alt="Kawasaki"></a>&nbsp;
			</div>
		</div>
		<div class="divider"></div>
	</div>
</section>

<!-- FEATURED PROMOTIONS -->
<section class="section section-dark">
	<div class="container">
		<div class="row mb-2">
			<div class="col-md-6">
				<h2 class="h3 text-bold text-uppercase">Featured Promotions</h2>
			</div>
			<div class="col-md-6 text-md-right">
				<small class="text-uppercase"><b>View all Specials for</b></small>&nbsp;
				<a href="#"><img width="90" src="/assets/img/content/logo-yamaha.png" alt="Yamaha"></a>&nbsp;
				<a href="#"><img width="90" src="/assets/img/content/logo-ktm.png" alt="KTM"></a>&nbsp;
				<a href="#"><img width="90" src="/assets/img/content/logo-kawasaki.png" alt="Kawasaki"></a>&nbsp;
			</div>
		</div>
		<div class="divider mb-4"></div>

		<!-- MASONRY -->
		<ul class="mb-4 list-masonry block-grid-md-3" data-masonry>
			{% for i in (1..6) %}
				<li><a href="#"><img width="100%" src="/assets/img/content/promo-{{i}}.jpg" alt="Promo"></a></li>
			{% endfor %}
		</ul>
	</div>
</section>

<!-- SOCIAL FEED -->
<section class="section section-light">
	<div class="container">
		<ul class="social-media mb-2">
			<li><a class="facebook" href="{{ settings.facebook }}"><i class="fa fa-facebook"></i></a></li>
			<li><a class="instagram" href="{{ settings.instagram }}"><i class="fa fa-instagram"></i></a></li>
		</ul>
		<div class="spacer mb-1 hidden-md-up"></div>
		<div class="social-feed-container block-grid-xs-1 block-grid-md-2 block-grid-lg-3 block-grid-xl-4"></div>
	</div>
</section>