---
layout: base
---

{% assign settings = site.data.settings %}
{% assign product_items = site.data.product_items %}

{% include hero.html %}

<!-- FEATURED SPECIALS -->
<section class="section">
	<div class="container">

		{% include header_section.html title="Specials" %}

		<!-- PRODUCTS -->
		<ul class="block-grid-condensed-lg-down block-grid-xs-1 block-grid-md-2 block-grid-xl-3">
			{% for item in product_items %}
				<li>
					<a href="/kawasaki/new-bikes/mx{{ item.url }}">
						<div class="media media-btn">
							<figure class="media-img mr-3">
								<img src="/assets/img/content/bike-item.jpg" alt="{{ item.title }}">

								<!-- LEARNER ICON -->
								{% if item.learner_approved %}
									<img class="is-learner-approved" width=23" src="/assets/img/layout/icon-learner.png" alt="Learner Approved">
								{% endif %}

							</figure>
							<div class="media-body">
								<h3 class="h6 text-extra-bold mb-0">{{ item.title }}</h3>
								{% if item.price_was %}
									<span class="has-old-price text-bold text-uppercase">Was {{ item.price_was }}</span><br>
								{% endif %}
								<span class="text-bold text-uppercase">Now {{ item.price }}</span>
							</div>
							<i class="fa fa-angle-right"></i>
						</div>
					</a>
				</li>
			{% endfor %}
		</ul>
	</div>
</section>

<!-- FEATURED PROMOTIONS -->
<section class="section section-dark">
	<div class="container">

		{% include header_section.html title="Promotions" %}

		<!-- MASONRY -->
		<ul class="block-grid-xs-1 block-grid-md-3 list-masonry popup-gallery mb-4" data-masonry>
			{% for i in (1..6) %}
				<li><a title="Promo Title" href="/assets/img/content/promo-{{i}}.jpg"><img width="100%" src="/assets/img/content/promo-{{i}}.jpg" alt="Promo"></a></li>
			{% endfor %}
		</ul>
	</div>
</section>

<!-- SOCIAL FEED -->
<section class="section section-light">
	<div class="container">
		<ul class="social-media mb-2">
			<li><a class="facebook" href="{{ settings.facebook }}"><i class="fa fa-facebook"></i></a></li>
			<li><a class="instagram" href="{{ settings.instagram }}"><i class="fa fa-instagram"></i></a></li>
		</ul>
		<div class="spacer mb-1 hidden-md-up"></div>
		<div class="social-feed-container block-grid-xs-1 block-grid-md-2 block-grid-xl-3 block-grid-xl-4"></div>
	</div>
</section>