---
layout: base
---

{% assign settings = site.data.settings %}
{% assign featured = site.data.sitemap[3].children | where: "featured", true %}

{% include hero.html %}





<!-- FEATURED SPECIALS -->
<section class="section section-inverse section-dark">
	<div class="container d-flex">
		<h2 class="">Featured Specials</h2>
		<div class="ml-auto">
			View all Specials for
			<a href="#"><img width="90" src="/assets/img/content/logo-yamaha.png" alt="Yamaha"></a>
			<a href="#"><img width="90" src="/assets/img/content/logo-ktm.png" alt="KTM"></a>
			<a href="#"><img width="90" src="/assets/img/content/logo-kawasaki.png" alt="Kawasaki"></a>
		</div>
		<div class="divider"></div>

		<ul>
			<li>
				<a href=""></a>
			</li>
		</ul>
	</div>
</section>

<!-- FEATURED PROMOTIONS -->
<section class="section section-dark">
	<div class="container">

		<header class="d-flex">
			<h2>Featured Specials</h2>
			View all Specials for
			<a href="#"><img width="90" src="/assets/img/content/logo-yamaha.png" alt="Yamaha"></a>
			<a href="#"><img width="90" src="/assets/img/content/logo-ktm.png" alt="KTM"></a>
			<a href="#"><img width="90" src="/assets/img/content/logo-kawasaki.png" alt="Kawasaki"></a>
		</header>

		<!-- MASONRY -->
		<div class="masonry">
			<img src="/assets/img/content/promo-1.jpg">
			<img src="/assets/img/content/promo-2.jpg">
			<img src="/assets/img/content/promo-3.jpg">
			<img src="/assets/img/content/promo-4.jpg">
			<img src="/assets/img/content/promo-5.jpg">
			<img src="/assets/img/content/promo-6.jpg">
		</div>
	</div>
</section>

<!-- SOCIAL FEED -->
<section class="section">
	<div class="container">

		<ul class="social-media mb-2">
			<li><a class="facebook" href="{{ settings.facebook }}"><i class="fa fa-facebook"></i></a></li>
			<li><a class="instagram" href="{{ settings.instagram }}"><i class="fa fa-instagram"></i></a></li>
		</ul>

		<div class="spacer mb-1 hidden-md-up"></div>
		<div class="social-feed-container block-grid-xs-1 block-grid-md-2 block-grid-lg-3 block-grid-xl-4"></div>
	</div>
</section>

