---
layout: base__page_microsite
---

{% assign brand = page.brand %}
{% assign brand_logo = "/assets/img/content/logo-" | append: brand | append: ".png" %}
{% assign product_items = site.data.product_items %}

<!-- FEATURED SPECIALS -->
<section class="section pt-0">
	<div class="container">

		{% include header_section.html title="Specials" %}

		<!-- PRODUCTS -->
		<ul class="block-grid-condensed-lg-down block-grid-xs-1 block-grid-md-2 block-grid-xl-3">
			{% for item in product_items | limit: 6 %}
				<li>
					<a href="/{{ brand }}/new-bikes/mx{{ item.url }}">
						<div class="media media-btn">
							<figure class="media-img mr-3">
								<img width="153" src="/assets/img/content/bike-item.jpg" alt="{{ item.title }}">

								<!-- LEARNER ICON -->
								{% if item.learner_approved %}
									<img class="is-learner-approved" width=23" src="/assets/img/layout/icon-learner.png" alt="Learner Approved">
								{% endif %}

							</figure>
							<div class="media-body">
								<h3 class="h6 text-extra-bold mb-0">{{ item.title }}</h3>
								{% if item.price_was %}
									<strong class="has-old-price text-uppercase">Was {{ item.price_was }}</strong><br>
								{% endif %}
								<strong class="text-uppercase">Now {{ item.price }}</strong>
							</div>
							<i class="fa fa-angle-right"></i>
						</div>
					</a>
				</li>
			{% endfor %}
		</ul>
	</div>
</section>

<!-- FEATURED PROMOTIONS -->
<section class="section section-dark is-flush-with-footer">
	<div class="container">

		{% include header_section.html title="Promotions" %}

		<!-- MASONRY -->
		<ul class="block-grid-xs-1 block-grid-md-3 list-masonry popup-gallery mb-4" data-masonry>
			{% for i in (1..6) %}
				<li><a title="Promo Title" href="/assets/img/content/promo-{{i}}.jpg"><img width="100%" src="/assets/img/content/promo-{{i}}.jpg" alt="Promo"></a></li>
			{% endfor %}
		</ul>
	</div>
</section>