---
layout: base__page_microsite
---

{% assign brand = page.brand %}
{% assign brand_logo = "/assets/img/content/logo-" | append: brand | append: ".png" %}

<!-- FEATURED PROMOTIONS -->
<section class="section section-dark">
	<div class="container">
		<div class="row mb-2">
			<div class="col-md-6">
				<h2 class="h3 text-bold text-uppercase">
					<img class="mr-3" width="130" src="{{ brand_logo }}" alt="{{ brand }}">
					Featured Promotions
				</h2>
			</div>
			<div class="col-md-6 text-md-right">
				<a class="btn-link" href="#"><small class="text-uppercase"><b>View All {{ brand }} Promotions <i class="fa fa-angle-right"></i></b></small></a>
			</div>
		</div>
		<div class="divider mb-4"></div>

		<!-- MASONRY -->
		<ul class="mb-4 list-masonry block-grid-md-3" data-masonry>
			{% for i in (1..6) %}
				<li><a href="#"><img width="100%" src="/assets/img/content/promo-{{i}}.jpg" alt="Promo"></a></li>
			{% endfor %}
		</ul>
	</div>
</section>