---
layout: base__page
---

{% assign settings = site.data.settings %}

<div class="container">
	<div class="row">
		<div class="col-lg-7">
			{{ content }}
		</div>
		<div class="col-lg-5 col-xl-4 offset-xl-1">

			<!-- CONTACT BOX -->
			<div class="side-box mb-4">
				<header class="side-box-header">
					<div class="row">
						<div class="col-10">
							<h3>Contact us to book your service or repair</h3>
						</div>
						<div class="col-2">
							<i class="fa fa-wrench"></i>
						</div>
					</div>
				</header>
				<div class="side-box-body">
					<a href="tel:{{ settings.offices[0].phone }}">
					    <i class="fa fa-phone"></i>&nbsp;
					    <span>{{ settings.offices[0].phone }}</span>
					</a>
					<br>
					<a href="mailto:{{ settings.offices[0].email }}">
					    <i class="fa fa-envelope"></i>&nbsp;
					    <span>{{ settings.offices[0].email }}</span>
					</a>
				</div>
			</div>

			<!-- OPTIONAL IMAGE -->
			<img width="100%" src="/assets/img/content/service-pic.jpg" alt="Bike">
		</div>
	</div>
</div>