/*
    SPECIAL.CSS

    - Last updated: 00.00.00
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// SPECIAL
//-----------------------------------------------------------------

.lv-google-map {
	line-height: 0; // prevent bottom quirk in /contact/

	@include media-breakpoint-down(xs) {
	    position: relative;
	    left: -15px;
	    width: calc(100% + 30px);
	}
}

//=========================================
// BLUE ENQUIRY BUTTON - 06.12.17
// NOT reusable - on category item item pages
//=========================================

.special-btn-enquiry {
	padding: 0 !important;
    border: 0;
    line-height: 0 !important;
    background: none;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: none !important;
    outline: none !important;
    transition: opacity ease 300ms;

    @include media-breakpoint-down(lg) {
        position: relative;
        top: 1px; // magic
    }

    @include media-breakpoint-up(xl) {
        float: right;
    }

    &:hover {
    	opacity: 0.9;
    }
}

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------