/*
    SPECIAL.CSS

    - Last updated: 00.00.00
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// SPECIAL
//-----------------------------------------------------------------

.lv-google-map {
	line-height: 0; // prevent bottom quirk in /contact/

	@include media-breakpoint-down(xs) {
	    position: relative;
	    left: -15px;
	    width: calc(100% + 30px);
	}
}

//=========================================
//
//=========================================