/*
    THEMES.CSS

    - Last updated: 11.04.17
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------

$brand-primary-kawasaki: #69be28;
$brand-primary-ktm: #ff6600;

//-----------------------------------------------------------------
// THEME HOME
//-----------------------------------------------------------------

.theme-home {

	//=========================================
	// PAGE + HERO
	//=========================================

	.lv-page {
		padding-top: 0; // 142px;
	}

	.lv-hero-item {
		padding-top: 80px;

		@include media-breakpoint-up(xl) {
		    padding-bottom: rem-calc(80);
		}
	}

	//=========================================
	//
	//=========================================

	.lv-topbar ul {
	    font-size: rem-calc(13);

	    @include media-breakpoint-up(xxl) {
	        font-size: rem-calc(15);
	    }
	}

	//=========================================
	// TOP
	//=========================================

	.headroom--top {
		.global-header-body {
			background: none;
		}
	}

	//=========================================
	// NOT TOP (SCROLLING)
	//=========================================

	.headroom--top {
		.lv-topbar {
			transition: none;

			@include media-breakpoint-only(xl) {
			    margin-top: 35px;
			}
		}

		.global-header-body .logo {
			@include media-breakpoint-up(md) {
			    margin-top: 30px;
			}

			@include media-breakpoint-up(lg) {
			    margin-top: 70px;
			}

		 	img {
		 		@include media-breakpoint-up(md) {
		 			width: 364px;
		 		}

		 		@include media-breakpoint-up(lg) {
		 			width: 400px;
		 		}

		 		@include media-breakpoint-up(xl) {
		 			width: 400px;
		 		}

		 		@include media-breakpoint-up(xxl) {
		 			width: 472px;
		 		}
		 	}
		}
	}
}

//-----------------------------------------------------------------
// THEME KAWASAKI
//-----------------------------------------------------------------

.theme-kawasaki {
	.btn-hero {
		background: rgba($brand-primary-kawasaki, 0.77);
		&:hover {
		    @include media-breakpoint-up(xl) {
		        background: rgba(lighten($brand-primary-kawasaki, 5%), 0.95);
		    }
		}
	}

	.card-product {
		h1, h2, h3, h4, h5, h6 {
			background: $brand-primary-kawasaki;
		}
		.subheader {
			background: darken($brand-primary-kawasaki, 5%);
		}
		.subheader.is-tinted {
			background: darken($brand-primary-kawasaki, 8%);
		}
	}
}

//-----------------------------------------------------------------
// THEME KTM
//-----------------------------------------------------------------

.theme-ktm {
	.btn-hero {
		background: rgba($brand-primary-ktm, 0.77);
		&:hover {
		    @include media-breakpoint-up(xl) {
		        background: rgba(lighten($brand-primary-ktm, 5%), 0.95);
		    }
		}
	}

	.card-product {
		h1, h2, h3, h4, h5, h6 {
			background: $brand-primary-ktm;
		}
		.subheader {
			background: darken($brand-primary-ktm, 6%);
		}
		.subheader.is-tinted {
			background: darken($brand-primary-ktm, 9%);
		}
	}
}

//=========================================
//
//=========================================