/*
    THEMES.CSS

    - Last updated: 11.04.17
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// THEME HOME
//-----------------------------------------------------------------

.theme-home {

	//=========================================
	// PAGE + HERO
	//=========================================

	.lv-page {
		padding-top: 0; // 142px;
	}

	.lv-hero-item {
		padding-bottom: rem-calc(80);
	}

	//=========================================
	// TOP
	//=========================================

	.headroom--top {
		.global-header-body {
			background: none;
		}
	}

	//=========================================
	// NOT TOP (SCROLLING)
	//=========================================

	.headroom--top {
		.global-header-body .logo {
			@include media-breakpoint-up(md) {
			    margin-top: 30px;
			}

			@include media-breakpoint-up(xl) {
			    margin-top: 70px;
			}

		 	img {
		 		@include media-breakpoint-up(md) {
		 			width: 364px;
		 		}

		 		@include media-breakpoint-up(lg) {
		 			width: 472px;
		 		}
		 	}
		}
	}
}

//=========================================
//
//=========================================